body {
  background-image: url(../img/background-img.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron {
  text-align: center;
}

.spa-cing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.visi-bility {
  display: none;
}

.click-able {
  cursor: pointer;
  color: rgb(0, 132, 255);
}
