body {
  background-image: url(../img/background-img.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron {
  text-align: center;
}

.spa-cing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
